.row
  .col-md-3
    / Bash Points
    .list-group
      %a.list-group-item{href: "#"}
        .pull-left
          Fighter
        .pull-right
          = @player.all_points 
          Points
        .clearfix
      %a.list-group-item{href: "#"}
        .pull-left
          Attacker
        .pull-right
          = @player.att_points
          Points
        .clearfix
      %a.list-group-item{href: "#"}
        .pull-left
          Defender
        .pull-right
          = @player.def_points
          Points
        .clearfix
    / Conquers
    .list-group
      %a.list-group-item{href: "#"}
        .pull-left
          Flextrom
          %small + 2900
        .pull-right
          %span.label.label-danger EO
        .clearfix
      %a.list-group-item{href: "#"}
        .pull-left
          Anubis
          %small + 3500
        .pull-right
          %span.label.label-info IE
        .clearfix
      %a.list-group-item{href: "#"}
        .pull-left
          Akaris
          %small + 4264
        .pull-right
          %span.label.label-info IE
        .clearfix
  .col-md-9
    .cerb_player_head
      .pl_q_info
        .pull-left
          %i.fa.fa-shield.fa-lg
            = @player.alliance.name rescue ""
        .pull-right
          %i.fa.fa-trophy.fa-lg
          = @player.rank
        .clearfix
      .pl_name
        %p
          = @player.name
      .pl_q_u_info
        .pull-left
          .points
            %span.current_version
              %i.fa.fa-bar-chart-o.fa-lg
              = @player.points 
            %span.diff_versions
              %i.fa.fa-chevron-circle-up{style: "color:rgba(46,204,113,0.6)"}
        .pull-right
          .towns
            %span.current_version
              %i.fa.fa-institution.fa-lg>
              = pluralize(@player.town_count, 'Town')
            %span.diff_versions
              %i.fa.fa-chevron-circle-up{style: "color:rgba(46,204,113,0.6)"}
    .player_content
      .board
        .board-inner
          %ul#myTab.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", href: "#overview", title: "welcome"}
                %i.fa.fa-graduation-cap
                Overview
            %li
              %a{"data-toggle" => "tab", href: "#towns", title: "profile"}
                %i.fa.fa-institution
                Towns 
                %span.label.label-primary= @player.town_count
                
            %li
              %a{"data-toggle" => "tab", href: "#conquers"}
                %i.fa.fa-flag
                Conquers
                %span.label.label-primary= @player.conquers.all.count  
        .tab-content
          #overview.tab-pane.active{style: 'padding:20px'}
            Overview
          #towns.tab-pane{style: 'padding:20px'}
            .panel.panel-default.pl_tab
              %table.table.table-bordered.table-hover.table-condensed
                %thead
                  %tr.table_nav
                    %th Name
                    %th Points 
                    %th Coordinates 
                    %th Ocean 
                %tbody
                  - @player.towns.each do |t|
                    %tr
                      %td= link_to t.name, t
                      %td= number_with_delimiter(t.points)
                      %td something 
                      %td something 

          #conquers.tab-pane{style: 'padding:20px'}
            .panel.panel-default.pl_tab
              %table.table.table-bordered.table-hover.table-condensed
                %thead
                  %tr.table_nav
                    %th Date 
                    %th Town 
                    %th Old Player 
                    %th Old Alliance 
                    %th Intern
                    %th Points
                %tbody
                  - @player.conquers.order('time desc').each do |c|
                    %tr
                      %td= c.conquer_time 
                      %td= link_to c.town.name, c.town 
                      %td= link_to c.old_player.name, c.old_player rescue c.old_player_name
                      %td= link_to c.old_alliance.name, c.old_alliance rescue c.old_alliance_name 
                      %td.center= intern_conquer(c)
                      %td= number_with_delimiter(c.town_points)
