.PlayerInfoHeader.ModulePrimary
  .row
    .col-sm-3.Section
      %h4.Title
        %i.fa.fa-clock-o
        Updated #{time_ago_in_words(@player.updated_at)} ago
    .col-sm-3.Section
      %ul.list-inline
        %li
          %h1.no-margin
            = number_with_delimiter(@player.points)
        %li
          %h5 TOTAL
          %h5 POINTS 
    .col-sm-3
      ss
    .col-sm-3
      .FollowUser.pull-right
        - if user_signed_in?
          = link_to '#', class: 'GrepoliaButton' do
            Follow
        - else
          = link_to new_user_session_path, class: 'GrepoliaButton' do
            Sign in to Follow

.row
  .col-md-3
    / Player Bash Points
    .PlayerStatisticModule.ModulePrimary
      .Header
        Bash Points
        .pull-right
          %i.fa.fa-dot-circle-o
      .Body
        %table.HorizontalStatistics
          %tbody
            %tr
              %td
                %h5 Fighter
              %td.pull-right
                %h5
                  = number_with_delimiter(@player.all_points) 
                  Pts
            %tr
              %td
                %h5 Attacker 
              %td.pull-right
                %h5
                  = number_with_delimiter(@player.att_points) 
                  Pts
            %tr
              %td
                %h5 Defender
              %td.pull-right
                %h5
                  = number_with_delimiter(@player.def_points)
                  Pts 

    / Recent Conquers
    - if @player.conquers.any?
      .PlayerStatisticModule.ModulePrimary
        .Header
          Recent Conquers
          .pull-right
            %i.fa.fa-flag
        .Body
          %table.HorizontalStatistics
            %tbody
              - @player.conquers.order("time desc").first(3).each do |c|
                %tr
                  %td
                    = link_to c.town do
                      %h5 
                        = c.town.name.capitalize
                      %td.pull-right
                        %h5
                          - if c.intern?
                            %span.label.GrepoLabelPrimary
                              IE 
                          - else
                            %span.label.GrepoLabelOrange
                              EO 

          
  .col-md-9
    .cerb_player_head
      .pl_q_info
        .pull-left
          %i.fa.fa-shield.fa-lg
            = @player.alliance.name rescue ""
        .pull-right
          %i.fa.fa-trophy.fa-lg
          = @player.rank
        .clearfix
      .pl_name
        %p
          = @player.name
      .pl_q_u_info
        .pull-left
          .points
            %span.current_version
              %i.fa.fa-bar-chart-o.fa-lg
              = @player.points 
            %span.diff_versions
              %i.fa.fa-chevron-circle-up{style: "color:rgba(46,204,113,0.6)"}
        .pull-right
          .towns
            %span.current_version
              %i.fa.fa-institution.fa-lg>
              = pluralize(@player.town_count, 'Town')
            %span.diff_versions
              %i.fa.fa-chevron-circle-up{style: "color:rgba(46,204,113,0.6)"}
    .player_content
      .board
        .board-inner
          %ul#myTab.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", href: "#overview", title: "welcome"}
                %i.fa.fa-graduation-cap
                Overview
            %li
              %a{"data-toggle" => "tab", href: "#towns", title: "profile"}
                %i.fa.fa-institution
                Towns 
                %span.label.label-primary= @player.town_count
                
            %li
              %a{"data-toggle" => "tab", href: "#conquers"}
                %i.fa.fa-flag
                Conquers
                %span.label.label-primary= @player.conquers.all.count  
        .tab-content
          #overview.tab-pane.active{style: 'padding:20px'}
            Overview
          #towns.tab-pane{style: 'padding:20px'}
            .panel.panel-default.pl_tab
              %table.table.table-bordered.table-hover.table-condensed
                %thead
                  %tr.table_nav
                    %th Name
                    %th Points 
                    %th Coordinates 
                    %th Ocean 
                %tbody
                  - @player.towns.each do |t|
                    %tr
                      %td= link_to t.name, t
                      %td= number_with_delimiter(t.points)
                      %td= t.coordinates 
                      %td= t.ocean

          #conquers.tab-pane{style: 'padding:20px'}
            .panel.panel-default.pl_tab
              %table.table.table-bordered.table-hover.table-condensed
                %thead
                  %tr.table_nav
                    %th Date 
                    %th Town 
                    %th Old Player 
                    %th Old Alliance 
                    %th Intern
                    %th Points
                %tbody
                  - @player.conquers.order('time desc').each do |c|
                    %tr
                      %td= c.conquer_time 
                      %td= link_to c.town.name, c.town 
                      %td= link_to c.old_player.name, c.old_player rescue c.old_player_name
                      %td= link_to c.old_alliance.name, c.old_alliance rescue c.old_alliance_name 
                      %td.center= intern_conquer(c)
                      %td= number_with_delimiter(c.town_points)
